.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dadbd3;
  padding: 20px;
  padding-top: 10px;
  /* min-height: 500px; */

}

html, body {
  overflow-x: hidden;
}


/* Global Box Sizing Fix */
*,
*::before,
*::after {
  box-sizing: border-box;
}


p{
  margin:0;
  padding: 0;
}

.app_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #ededed;
  padding: "5px";
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

#root {
  width: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Import Nunito from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


.LightFont {
  font-family: 'Nunito', sans-serif;
  /* Set font to Nunito */
  font-weight: 400;
  /* Regular weight */
  font-size: 16px;
  /* Keep your original size */
  color: grey;
  /* Keep your original color */
}

.LightFontPopup {
  font-family: 'Nunito', sans-serif;
  /* Set font to Nunito */
  font-weight: 400;
  /* Regular weight */
  font-size: 15px;
  /* Keep your original size */
  color: grey;
  margin-bottom: 15px;
}

.LightFontBold {
  font-family: 'Nunito', sans-serif;
  font-weight: 900; /* This will now work */
  font-size: 16px;
  color: #1A1915;
   -webkit-text-stroke: 0.5px #1A1915; 
}

.LightFontBigger {
  font-family: 'Nunito', sans-serif;
  font-weight: 900; /* This will now work */
  font-size: 24px;
  color: black;
}

.LightFontVeryBig {
  /*  */
  font-weight: 700; /* This will now work */
  font-size: 31px;
  color: white;
}


.fontBold {
  /* Bold weight */
  font-size: 13px;
  /* Original size */
  transform: scaleY(0.9);
  color: #333333;
}

.fontBold2 {
  /* Bold weight */
  font-size: 15px;
  /* Original size */
  transform: scaleY(0.9);
  color: white;
}

h3 {
  font-size: 17px;
}

.vertical-line {
  width: 0.5px;
  /* thickness */
  height: 30px;
  /* make it longer */
  background-color: white;
}

input::placeholder {
  font-family: 'Nunito', sans-serif;
  /* Set font to Nunito */
  font-weight: 400;
  /* Regular weight */
  font-size: 17px;
  /* Keep your original size */
  color: grey;
}

input {
  border: none;
  border: none;
  outline: none;
  font-size: 17px;
}

body.drawer-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}



@media only screen and (max-width: 768px) {
  .App {
    width: 1000px;
    min-height: 2163px;
  }
}