/* Import Nunito from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

.LightFont {
    font-family: 'Nunito', sans-serif; /* Set font to Nunito */
    font-weight: 400;                  /* Regular weight */
    font-size: 24px;                   /* Keep your original size */
    color: grey;                       /* Keep your original color */
}
     

.fontBold {               /* Bold weight */
    font-size: 20px;                    /* Original size */
     transform: scaleY(0.9); 
     color: 	#333333; 
}

